@import url('./variables.css');

/* Set the default typography for monospace elements */
tt,
code,
kbd,
samp,
pre {
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
}

body,
.jp-Notebook,
.jp-FileBrowser {
  background: var(--jp-layout-color0) !important;
  color: var(--jp-ui-font-color1) !important;
}

.jp-TopBar,
.jp-SideBar,
.jp-FileBrowser {
  background: var(--jp-layout-color2) !important;
}

.jp-Cell {
  background: var(--jp-cell-background) !important;
  border: 1px solid var(--jp-border-color1) !important;
  color: var(--jp-ui-font-color1) !important;
  border-radius: 10px;
}

.jp-Cell.jp-mod-active {
  background: var(--jp-cell-active) !important;
  border-color: var(--jp-border-color-active) !important;
  box-shadow: 0 2px 12px 0 var(--jp-shadow-base);
}

.jp-Button,
.jp-Dialog .jp-Button {
  background: var(--jp-brand-color1) !important;
  color: var(--jp-layout-color0) !important;
  border-radius: 7px;
}

.jp-Button:hover,
.jp-Dialog .jp-Button:hover {
  background: var(--jp-brand-color2) !important;
}

.lm-TabBar-tab.lm-mod-current {
  background: var(--jp-cell-active) !important;
  border-bottom: 3px solid var(--jp-brand-color1);
  color: var(--jp-brand-color1);
}

::selection {
  background: var(--jp-layout-color-selected);
  color: var(--jp-ui-font-color1);
}

/* Menus e Tooltips */
.jp-Menu,
.jp-Tooltip {
  background: var(--jp-menu-background);
  color: var(--jp-ui-font-color1);
}

/* Scrollbar customizada */
::-webkit-scrollbar {
  width: 9px;
  background: var(--jp-layout-color2);
}

::-webkit-scrollbar-thumb {
  background: var(--jp-brand-color1);
  border-radius: 8px;
}